@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  /* color: #333; */
}
/* SEARCH BOX  */

.App{
  background-color: #FEFEFE;
  padding-top: 20px;
}
.searchbox{
  position: relative;
  left: 15cm;
  width: 40%;
  height: 30px;
  background-color: #FEFEFE;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}
/* NAVBAR */
.leftside{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navcontainer{
  position: relative;
  top: 1.5cm;
  width: 50%;
  left: 10cm;
  background-color: #1F386B;
  display: flex;
  justify-content: flex-end;
}
.navbar {
  width: 6cm;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px 30px 30px 30px;
  background-color: #D9D9D9;
  margin: 10px;
  box-shadow: 0px 1px 0px  2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}
.navbar a {
  margin-left: 24px;
  padding: 6px;
}
.othercontainer{
  width: 9cm;
  height: 29cm;
  background-color: #1F386B;
  border-radius: 40px 40px 40px 40px;
  
}
/* CONTENT */
.maincontainer{
  width: 80%;
  margin: 20px;
}
.content {
  display: flex;
  max-width:100%;
  padding: 20px;
}
/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #d3d2d2;
  background-color: rgb(253, 253, 253);
  justify-content: center;
}
.blog-preview:hover {
  box-shadow: 1px 3px 10px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #1F386B;
  font-weight: bold;
  margin-bottom: 8px;
}

/* DASHBOARD */

.dashcontainer{
  width: 20%;
  height: 31cm;
  background-color: #D7D9DD;
  border-radius: 40px 0px 0px 40px;
}

/* OTHERBOARD */


/* PROFILE */

.userprofile{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30.5cm;
}
.userpicture{
  display: flex;
  width: 100%;
  height: 40%;
}
.userinformation{
  border-radius: 40px 40px 40px 40px;
  padding: 1cm;
  width: 100%;
  height: 60%;
  background-color: #D7D9DD;
  display: flex;
  flex-direction: column;
}
.userimage{
  width: 60%;
}
.mainimage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
 
}
.circle{
  width: 360px;          
  height: 360px;         
  border-radius: 50%;    
  border: 5px solid #2c3e50; /* Border thickness and color */
  display: inline-block; 
}
.imgbuttons{
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.userprofileinfo{
  
  width: 40%;
}
.courses-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Optional: Adds space between the course boxes */
}

.mainhome {
  padding: 20px;
}
.coursebox {
  flex: 1 1 calc(50.333% - 10px); /* Adjusts the size of each box to fit three items per row with spacing */
  background-color: #FEFEFE; /* Example background color */
  padding: 20px;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.1);
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  border: 1px solid #ddd; /* Optional: Adds a border around each box */
  text-align: start; /* Centers text inside the box */
  width: 50%;
}
.nowreading{
  height: 50%;
}